<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedSmart</title>
    <link rel="stylesheet" href="principal.css">
</head>
<body>

<header>
    <div class="logo">FeedSmart</div>

    <nav>
        <a href="#">Início</a>
        <a href="reclamar.html">Reclamar</a>
        <a href="login.html" class="btn-login">Login Empresa</a>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        <h1>Ajude as empresas a melhorarem</h1>
        <p>
            Envie uma reclamação, sugestão ou agradecimento. 
            As empresas recebem feedbacks automaticamente analisados.
        </p>

        <div class="hero-buttons">
            <button class="btn-white">Quero reclamar</button>
            <button class="btn-outline">Sou empresa</button>
        </div>
    </div>
</section>

</body>
</html>
