<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Reclamação - FeedSmart</title>
    <link rel="stylesheet" href="../reclamar/reclamar.css">
</head>

<body>

    <header>
        <div class="logo">FeedSmart</div>

        <nav>
            <a href="../principal/principal.html">Início</a>
            <a href="#">Reclamar</a>
            <a href="../login/login.html" class="btn-login">Login Empresa</a>
        </nav>
    </header>

    <main>
        <div class="form-container">
            <input type="text" id="nome_cliente" placeholder="Seu nome (opcional)">
            <input type="email" id="email_cliente" placeholder="Seu e-mail (opcional)">

            <select id="empresa_id">
                <option value="1">Loja Exemplo</option>
            </select>

            <div class="nota-container">
                <div class="nota-label">
                    <label for="nota">Nota</label>
                    <span id="valorNota">1</span>
                </div>

                <input type="range" id="nota" min="1" max="5" value="1">
            </div>

            <textarea id="descricao" placeholder="Conte a sua experiência"></textarea>

            <button class="btn-enviar">Enviar</button>
            <p id="mensagem" style="display: none; color: green; margin-top: 10px;">
                Feedback enviado com sucesso
            </p>
        </div>
    </main>
    <script>
        fetch("http://127.0.0.1:3000/empresas")
            .then(res => res.json())
            .then(data => {
                const select = document.getElementById("empresa_id");

                select.innerHTML = "<option value=''>Selecione uma empresa</option>";

                data.forEach(emp => {
                    const option = document.createElement("option");

                    option.value = emp.id;
                    option.textContent = emp.nome;

                    select.appendChild(option);
                });
                console.log("EMPRESA ID:", select.value);
            });
        // atualizar número da nota
        const nota = document.getElementById("nota");
        const valorNota = document.getElementById("valorNota");

        nota.addEventListener("input", () => {
            valorNota.textContent = nota.value;
        });
        console.log("EMPRESA ID:", document.getElementById("empresa_id").value);
        // botão enviar
        document.querySelector(".btn-enviar").addEventListener("click", async () => {

            const data = {
                titulo: "Feedback", // 👈 fixo já que você tirou o campo
                descricao: document.getElementById("descricao").value,
                nota: nota.value,
                empresa_id: document.getElementById("empresa_id").value,
                nome_cliente: document.getElementById("nome_cliente").value,
                email_cliente: document.getElementById("email_cliente").value
            };

            console.log("ENVIANDO:", data);

            try {
                const res = await fetch("http://127.0.0.1:3000/feedbacks", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                });

                const result = await res.json();

                console.log("RESPOSTA:", result);

                if (res.ok) {
                    const mensagem = document.getElementById("mensagem");
                    mensagem.style.display = "block";
                    setTimeout(() => {
                        mensagem.style.display = "none";
                    }, 3000);
                    document.getElementById("descricao").value = "";
                    document.getElementById("nome_cliente").value = "";
                    document.getElementById("email_cliente").value = "";
                    nota.value = 1;
                    valorNota.textContent = 1;
                } else {
                    alert("Erro ao enviar + JSON.stringify(result)");
                }

            } catch (err) {
                console.log("ERRO:", err);
                alert("Erro de conexão");
            }
        });
    </script>
</body>

</html>