<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Reclamação - FeedSmart</title>
    <link rel="stylesheet" href="../reclamar/reclamar.css">
</head>

<body>

    <header>
        <div class="logo">FeedSmart</div>

        <nav>
            <a href="../principal/principal.html">Início</a>
            <a href="#">Reclamar</a>
            <a href="../login/login.html" class="btn-login">Login Empresa</a>
        </nav>
    </header>

    <main>
        <input type="text" id="nome_cliente" placeholder="Seu nome (opcional)">
        <input type="email" id="email_cliente" placeholder="Seu e-mail (opcional)">

        <select id="empresa_id">
            <option value="1">Loja Exemplo</option>
        </select>

        <div class="nota-container">
            <label>Nota: <span id="valorNota">1</span></label>
            <input type="range" id="nota" min="1" max="5" value="1">
        </div>

        <textarea id="descricao" placeholder="Conte a sua experiência"></textarea>

        <button class="btn-enviar">Enviar</button>
    </main>
    <script>
        // atualizar número da nota
        const nota = document.getElementById("nota");
        const valorNota = document.getElementById("valorNota");

        nota.addEventListener("input", () => {
            valorNota.textContent = nota.value;
        });
        console.log("EMPRESA ID:", document.getElementById("empresa_id").value);
        // botão enviar
        document.querySelector(".btn-enviar").addEventListener("click", async () => {

            const data = {
                titulo: "Feedback", // 👈 fixo já que você tirou o campo
                descricao: document.getElementById("descricao").value,
                nota: nota.value,
                empresa_id: document.getElementById("empresa_id").value,
                nome_cliente: document.getElementById("nome_cliente").value,
                email_cliente: document.getElementById("email_cliente").value
            };

            console.log("ENVIANDO:", data);

            try {
                const res = await fetch("http://127.0.0.1:3000/feedbacks", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                });

                const result = await res.json();

                console.log("RESPOSTA:", result);

                if (res.ok) {
                    alert("Feedback enviado");
                } else {
                    alert("Erro ao enviar + JSON.stringify(result)");
                }

            } catch (err) {
                console.log("ERRO:", err);
                alert("Erro de conexão");
            }
        });
    </script>
</body>

</html>