<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedSmart Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <header>
        <div class="logo">FeedSmart</div>

        <nav>
            <a href="../principal/principal.html">Início</a>
            <a href="../reclamar/reclamar.html">Reclamar</a>
            <a href="#">Painel</a>
            <button href="../principal/principal.html">Sair</button>
        </nav>
    </header>

    <main>

        <h1>Painel - Loja Exemplo</h1>

        <div class="grid">

            <div class="card">
                <h3>Resumo</h3>
                <p>Total: <b id="total">0</b></p>
                <p id="pos">Positivos: 0</p>
                <p id="neu">Neutros: 0</p>
                <p id="neg">Negativos: 0</p>
            </div>


            <div class="card">
                <h3>Distribuição</h3>
                <canvas id="grafico"></canvas>
            </div>

        </div>

        <div class="card tabela">
            <div class="topo">
                <h3>Feedbacks</h3>

                <select>
                    <option>Todos</option>
                    <option>Positivos</option>
                    <option>Neutros</option>
                    <option>Negativos</option>
                </select>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Nota</th>
                        <th>Sentimento</th>
                        <th>Comentário</th>
                        <th>Data</th>
                    </tr>
                </thead>

                <tbody id="tabela-feedbacks"></tbody>
            </table>
        </div>

    </main>

    <script>
        const empresa_id = localStorage.getItem("empresa_id");

        if (!empresa_id) {
            alert("Você precisa estar logado como empresa!");
            window.location.href = "../login/login.html";
        }
        let grafico;

        function atualizarGrafico(pos, neu, neg) {
            const ctx = document.getElementById('grafico');

            if (grafico) {
                grafico.destroy();
            }

            grafico = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Positivos', 'Neutros', 'Negativos'],
                    datasets: [{
                        data: [pos, neu, neg],
                        backgroundColor: [
                            '#22c55e',
                            '#f59e0b',
                            '#ef4444'
                        ]
                    }]
                }
            });
        }
        console.log("empresa_id:", empresa_id);
        fetch(`http://127.0.0.1:3000/feedbacks/${empresa_id}`)
            .then(res => res.json())
            .then(data => {
                const tabela = document.getElementById("tabela-feedbacks");

                tabela.innerHTML = "";

                let positivos = 0;
                let neutros = 0;
                let negativos = 0;

                data.forEach((fb, index) => {

                    let sentimento = "";
                    let classe = "";

                    if (fb.nota >= 4) {
                        sentimento = "positivo";
                        classe = "positivo";
                        positivos++;
                    } else if (fb.nota == 3) {
                        sentimento = "neutro";
                        classe = "neutro";
                        neutros++;
                    } else {
                        sentimento = "negativo";
                        classe = "negativo";
                        negativos++;
                    }

                    const linha = `
                <tr>
                    <td>${index + 1}</td>
                    <td>${fb.nome}</td>
                    <td>${fb.nota}</td>
                    <td class="${classe}">${sentimento}</td>
                    <td>${fb.descricao}</td>
                    <td>${new Date(fb.data).toLocaleDateString()}</td>
                </tr>
            `;

                    tabela.innerHTML += linha;
                });

                // atualizar resumo
                document.getElementById("total").innerText = data.length;
                document.getElementById("pos").innerText = `Positivos: ${positivos}`;
                document.getElementById("neu").innerText = `Neutros: ${neutros}`;
                document.getElementById("neg").innerText = `Negativos: ${negativos}`;

                // atualizar gráfico
                atualizarGrafico(positivos, neutros, negativos);
            });
    </script>

</body>

</html>